@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00b07426 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #d0d6de;
}

*::-webkit-scrollbar-thumb {
  background-color: #00b07426;
  border-radius: 40px;
  border: 0px solid #ffffff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* React Prime multiselect styles */
.p-multiselect-select-all::after {
  content: ' Select All'; /* Add your desired text here */
  font-size: 10px; /* Adjust font size */
  color: #333; /* Set text color */
  margin-left: 8px; /* Add spacing between checkbox and text */
  display: inline-block; /* Ensures text appears inline */
  vertical-align: middle; /* Align text vertically with checkbox */
  font-weight: bolder;
}

.p-multiselect-panel input[type='checkbox'] {
  background-color: red;
  color: green;
}

.p-multiselect-panel .p-multiselect-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-multiselect-panel .p-multiselect-filter-container svg {
  position: relative;
  margin: auto;
  left: -20px;
}

.p-multiselect-header {
  gap: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.p-multiselect-token {
  padding: 4px 8px;
  gap: 4px;
  margin: 0 3px;
}

/* dropdown styles */
.p-dropdown .p-dropdown-clear-icon {
  position: relative;
  top: 2px;
  right: 0;
}